// Variaveis do grid
$cols: 12; //Total de colunas
$gutter: 20px; // == Margin-left + margin-right = 10ppx para cada lado
// Breakpoints Devices, que serão utilizados também nos containers
$l-device: 1200px; // Large Device
$m-device: 760px; // Medium Device
$s-device: 480px; // Small Device

// Box-sizing
*,
*::after,
*::before {
    // * ->  Seletor curinga - seleciona todos os elementos
    box-sizing: border-box; // Define o width igualmente
}

// Mixin de Media Query
@mixin device($size) {
    @if $size == l {
        @media screen and (min-width: #{$l-device}) { // até 1200px
            @content;
        }
    } @else if $size == m {
        @media screen and (min-width: #{$m-device}) and (max-width: #{$l-device - 1}){ // De 760px até 1199px
            @content;
        }
    } @else if $size == s {
        @media screen and (max-width: #{$m-device - 1}){ // de 480px até 759px
            @content;
        }
    }
}

p {
    color: blue;
    @include device(m) {
        color: red;
    }
    @include device(s) {
        color: purple;
    }
}