$tema: oceano;
$primary-color: black;
$secondary-color: gray;

@if $tema == oceano {
	$primary-color: black;
	$secondary-color: gray;
} @else if $tema == deserto {
	$primary-color: black;
	$secondary-color: gray;
}

p {
	width: 400px + 40;
}

.erro {
	color: red;
	font-weight: bold;
}

.button-erro {
	@extend .erro;
	padding: 20px;
	width: 200px;
}

@mixin title-larger {
	font-size: 4em;
	font-weight: bold;
	font-family: monospace;
	line-height: 1;
}

$cor-primaria: blue;
$font-primaria: monospace;
$gutter: 60px;

section {
	max-width: 600px;
	margin: 0 auto;
}

.modal {
	h1.titulo {
		color: $cor-primaria;
		font-family: $font-primaria;
		margin-bottom: $gutter;
		@include title-larger;
	}
	p {
		font: {
			size: 1.2em;
			family: $font-primaria;
			style: italic;
		}
		line-height: 1.4;
		max-width: 400px;
	}
	a {
		display: block;
		max-width: 120px;
		padding: 10px;
		border-radius: 4px;
		text-align: center;
		background: $cor-primaria;
		color: white;
		text-decoration: none;
		text-transform: uppercase;
		font-family: $font-primaria;
	}
}

ul {
	text-align: center;
	li {
		display: inline-block;
		list-style: none;
		a {
			display: block;
			padding: 20px;
			text-decoration: none;
			background: blue;
			color: white;
			&:hover,
			&.active {
				background: pink;
			}
		}
	}
}

